<div class="row">
    <div class="col s12 m12 l6 xl6"> 
        <mat-card>
        <mat-card-content>
            <video controls autoplay id="videoElement31" width="200" height="93"></video>
            <video controls autoplay id="videoElement32" width="200" height="93"></video>
            <video controls autoplay id="videoElement33" width="200" height="93"></video>
            <video controls autoplay id="videoElement34" width="200" height="93"></video>
            <video controls autoplay id="videoElement35" width="200" height="93"></video>
            <video controls autoplay id="videoElement36" width="200" height="93"></video>
            <video controls autoplay id="videoElement37" width="200" height="93"></video>
            <video controls autoplay id="videoElement38" width="200" height="93"></video>
        </mat-card-content>
        </mat-card>
    </div>   
</div>
<!--
<div class="row canvas_list">
    <div class="col s12 m12 l12 xl12" style="padding: 0px;">
        <canvas #streaming [(ngModel)]="player" (click)="zoomCamera.emit($event)" ngDefaultControl></canvas>
        <canvas #streaming2 [(ngModel)]="player2" (click)="zoomCamera.emit($event)" ngDefaultControl></canvas>
        <canvas #streaming3 [(ngModel)]="player3" (click)="zoomCamera.emit($event)" ngDefaultControl></canvas>
        <canvas #streaming4 [(ngModel)]="player4" (click)="zoomCamera.emit($event)" ngDefaultControl></canvas>
        <canvas #streaming5 [(ngModel)]="player5" (click)="zoomCamera.emit($event)" ngDefaultControl></canvas>
        <canvas #streaming6 [(ngModel)]="player6" (click)="zoomCamera.emit($event)" ngDefaultControl></canvas>
        <canvas #streaming7 [(ngModel)]="player7" (click)="zoomCamera.emit($event)" ngDefaultControl></canvas>
        <canvas #streaming8 [(ngModel)]="player8" (click)="zoomCamera.emit($event)" ngDefaultControl></canvas>
    </div>
</div>
-->