<div class="container valign-wrapper">
  <form [formGroup]="formGroup" (ngSubmit)="log_in()" class="form">
    <mat-card id="login">
      <picture>
        <source media='(min-width:0px)' srcset="./assets/logo-navimag.png">
        <img style="object-fit: cover; width: 100%;" mat-card-image src="" alt="Photo of a Shiba Inu">
      </picture>
      <mat-card-content>
        <mat-form-field class="form-element" [hidden]="!is_api">
          <input matInput type="url" placeholder="Data Server (ex: http://localhost:8000)" formControlName="url" [(ngModel)]="api_url" ng-disabled="is_api">
          <mat-error *ngIf="!formGroup.controls['url'].valid && (formGroup.controls['url'].touched || formGroup.controls['url'].dirty)">
            {{ getErrorUrl() }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-element">
          <input matInput placeholder="User" formControlName="user" [(ngModel)]="login.user" autocomplete="off">
          <mat-error *ngIf="!formGroup.controls['user'].valid && formGroup.controls['user'].touched">
            {{ getErrorUser() }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-element">
          <input matInput type="password" placeholder="Password" formControlName="password" [(ngModel)]="login.password">
          <mat-error *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
            {{ getErrorPassword() }}
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="example-center">
        <button mat-raised-button color="primary" type="submit" class="transparent color-primary" [disabled]="!formGroup.valid">Entrar</button>  
      </mat-card-actions>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card>
  </form>
</div>